body{background-color: aqua;}


/* #=id  .=class  */
#firstLine{color: blue;}
#threeLine{color: red;}
#forthLine{font-size:25px; font-style: italic;}
.class_forthLine{color: green;}


.heading0{color: blue;}
.heading1{font-size: 20px;}
.heading2{color: red;}